@import 'reset';

@font-face { 
	font-family: 'Tesla'; 
	src: url('../fonts/Tesla.ttf');
	font-style: normal;
	font-weight: normal; }

body {
	font: 100%/1.5em Arial, Helvetica, sans-serif;
	background-color: #ccc;
	color: #2D52A4; }

#wrapper {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	 }

header {
	height: 9em;
	display: flex; 
	flex-flow: column wrap;
	align-items: center;
	justify-content: space-around;
	background-color: #9DACCD; }

.logo {
	width: 20%;
	img {
	width: 100%; }}

nav {
	width: 100%;
	position: absolute;
	top: 9em;
}


h1 {
	font-family: Tesla, Arial, sans-serif;
	font-size: 3.5em; }

h2 {
	font-size: 2.5em;
	text-align: center;
	padding: 10px 0;
	margin: 20px 0;
}

ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	a {
		padding: 0 1em;
		color: #fff;
	}

	li {
		background-color: #2D52A3;
		margin-left: 2px; 
	}
}

content {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

footer {
	text-align: center;
	background-color: #9DACCD; }

button {
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding: 4px;
	color: white;
	margin: 5px;
	background-color: #2D52A3;
	border-radius: 5px;
	box-shadow: 3px 5px 5px 5px rgba(0,0,0,.6);
	&:active {
		box-shadow:none;
		transform: translate(3px,0);
	}
}

#num-display{
	box-shadow:3px 5px 5px 0 rgba(0,0,0,.6);
	margin: 5px 0;
	border: 1px solid black;
	color: #0813ff;
	width: 240px;
	font-size: 24px;
	height: 36px;
	line-height: 36px;
}

.num-field {
	width: 300px;
	height: 300px;
	border: 2px solid #555;
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 20px; }

.num-item{
	width: 58px;
	height: 58px;
	border: 1px solid black;
	box-shadow:3px 5px 5px 0 rgba(0,0,0,.6);
	&:hover {
		box-shadow: none;
	};
}

@media all and (max-width: 360px) {
	.num-field {
		width: 250px;
		height: 250px; }

	.num-item{
		width: 48px;
		height: 48px; }

	h2{
		margin-top: 50px;
	}
}